.site-header {

}

.mini-strip {

  background-color: $brand-purple;
  text-align: right;

  .mini-link {
    display: inline-block;
    color: #fff;
    margin: 0 .2rem;
  }

  .social-icons , .store-icon {
    float: right;
  }

}

.header-nav {

  display: none;
  height: 100px;

  @include media($medium-screen-up) {
    display: block;
  };

  .header-logo {
    float: left;
    background-color: whitesmoke;
    width: 160px;
    margin: rem(30px) 0;
    height: rem(40px);
  }

  .header-links {
    margin: rem(30px) 0;
    height: rem(40px);
    float: right;
  }

  .header-link {
    display: inline-block;
    padding: rem(10px) .25rem;
  }

  .header-link--text {
    font-family: $alt-heading-font-family;
    text-transform: uppercase;
    color: $light-purple;
    font-weight: 600;
    font-size: .8em;
    letter-spacing: .2em;
  }

  .header-link--submenu {
    display: none;
  }
}
