.homepage-hero {

  position: relative;
  height: 300px;
  overflow: hidden;
  border: $base-border;

  .image {
    position: absolute;
    height: 100%;
    width: auto;
    max-width: none;
    top:0;
    left: -75%;
    margin-left: 25%;

    @include media($medium-screen-up) {
      height: 100%;
      width: auto;
      left: 0;
      margin-left: 0;
    }

    @include media($large-screen-up) {
      width: 100%;
      height: auto;
    }
  }

  .text-content {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    @extend %description;
    @include media($medium-screen-up) {
      max-width: 40%;
    }
  }
}

$card-padding: 1rem;

.homepage-cards {

  .homepage-card {
    background-color: white;
    border: $base-border;
    margin-bottom: 1rem;
    overflow: hidden;
    @include span-columns(3);

    @include media($medium-screen-up) {
      @include span-columns(2);
      height: 300px;
    }

    @include media($large-screen-up) {
      @include span-columns(3);
    }

    .image {
      display: block;
      width: 100%;
    }

    .title {
      text-align: center;
    }

    .text {
      height: (1em*1.5)*3;
      overflow: hidden;
      @extend %description;
    }

    .image-content {
      height: 150px;
      overflow: hidden;
    }

    .text-content {
      padding: $card-padding;
    }

  }

  .homepage-card.featured {
    padding: 0;
    @include span-columns(6);

    .title {
      @extend %alt-heading;
    }

    @include media($medium-screen-up) {

      .image {
        height: 100%;
        width: auto;
      }
    }

    .image-content, .text-content {

      height: 300px;

      @include media($medium-screen-up) {
        @include span-columns(2.5 of 5);
        height: 100%;
        @include omega(1);
      }

      @include media($large-screen-up) {
        @include span-columns(3 of 6);
      }
    }

    // .text-content {
    //   @include span-columns(2.5 of 5);
    // }

    @include media($medium-screen-up) {
      @include span-columns(5);
    }

    @include media($large-screen-up) {
      @include span-columns(6);
    }
  }

}

.featured-color {
  @extend %alt-heading;
  padding: 1rem .5rem;
  margin: .5rem 0;
  text-align: center;
  border-top: $base-border;
  border-bottom: $base-border;
}

.featured-blog-post {

  overflow: hidden;

  .image-content {

    height: 200px;
    overflow: hidden;

    @include media($medium-screen-up) {
      @include span-columns(3);
      @include omega(1);
    }

    @include media($large-screen-up) {
      @include span-columns(5);
      @include omega(1);
    }

    .image {
      width: 100%;
      height: auto;
      max-width: none;
      display: inline-block;
      @include media($medium-screen-up) {
        height: 100%;
        width: auto;
      }
    }
  }

  .text-content {

    padding: 1rem;
    margin-bottom: 2rem;
    border: 1px solid white;
    height: 200px;

    @include media($medium-screen-up) {
      @include span-columns(6);
      border-left: none;
      padding: 2rem;
    }

    @include media($large-screen-up) {
      @include span-columns(7);
    }
  }

  .title {
    font-size: 2em;
  }

  .text {
    height: (1em*$base-line-height)*3;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    position: relative;
    &::after {
      content:"...";
      font-weight:bold;
      position:absolute;
      bottom:0;
      right:0;
      padding:0 20px 1px 45px;
    }
  }
}
