
.recent-post {

  @include row();
  margin-bottom: 4rem;

  @include media($large-screen-up) {
    @include span-columns(10);
    @include shift(1);
  };

  .thumbnail {
    float: left;
    margin-right: 1rem;
  }

  .topic {
    color: darken($light-grey, 10%);
    font-size: modular-scale(3);
    font-weight: 400;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    // text-transform: uppercase;
    border-bottom: 2px solid $light-grey;

  }

  .title {
    text-transform: uppercase;
    font-weight: 400;
    font-family: $alt-heading-font-family;
  }

  .subtitle {
    color: $brand-purple;
    font-family: $base-font-family;
    text-transform: uppercase;
    font-size: modular-scale(-1);
    font-weight: 600;
    letter-spacing: .1em;
  }

  .text {
    @extend %alt-light;
  }

  &.featured {

    @include media($large-screen-up) {
      @include span-columns(12);
      @include shift(0);
    };

    .text {
      color: black;
    }
  }

}



.block-image-link {

  position: relative;
  overflow: hidden;
  @include span-columns(6);

  @include media($medium-screen-up) {
    @include span-columns(3);
  };

  @include media($large-screen-up) {
    @include span-columns(4);
  };

  &.pair {
    @include media($medium-screen-up) {
      @include span-columns(4.5);
      max-height: 300px;
    };

    @include media($large-screen-up) {
      @include span-columns(6);
      max-height: 200px;
    };
  }

  .block-image {
    position: relative;
  }

  .image {
    display: block;
    width: 100%;
    @include transition(all 430ms ease-in-out);
  }

  .block-text-content {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    text-transform: uppercase;
    top: 0;
    bottom: 0;
    font-size: 1.2rem;

    .block-title {
      top: 50%;
      width: 100%;
      position: absolute;
      @include transform(translateY(-50%));
    }
  }

  &:hover {
    .block-text-content {
      background-color: transparentize($brand-purple, .5);
    }

    .image {
      @include transform(scale(1.1));

    }
  }
}
