body {
  margin: 0;
}

@import "bourbon";
@import "neat";
@import "bitters/_base.scss";

@import "header.scss";
@import "footer.scss";
@import "homepage.scss";
@import "standard.scss";
@import "lifestyle.scss";
@import "community.scss";
@import "store.scss";

.content {

  &.vertically-padded {
    @include media($medium-screen-up) {
      @include padding(4rem 0);

    }
  }

  &.purple {
    background-color: $brand-purple;
    color: #fff;

    a {
      color: inherit;
    }
  }

  &.grey {
    background-color: $light-grey;
  }

  &.light_grey {
    background-color: lighten($light-grey, 5%);
  }

  &.light_purple {
    background-color: tint($brand-purple, 85%);
  }
}

.content-container {
  @include outer-container();
  @include padding(0 1rem);

  &.to_the_edge {
    @include padding(0 0);
  }
}
