footer
  .content.vertically-padded
    .content-container.follow-us
      h3 Follow Us
      ul.round-social-links
        li.social-link
          i.icon-instagram
        li.social-link
          i.icon-facebook
        li.social-link
          i.icon-twitter
        li.social-link
          i.icon-pinterest
        li.social-link
          i.icon-youtube
  .content
    .content-container.footer-columns
      .footer-column
        h3.footer-column--title About Us
        ul.footer-links
          li.footer-link
            a.footer-link--text Enell Story
          li.footer-link
            a.footer-link--text Company Overview
          li.footer-link
            a.footer-link--text Our Team
          li.footer-link
            a.footer-link--text Careers
      .footer-column
        h3.footer-column--title Press
        ul.footer-links
          li.footer-link
            a.footer-link--text News & Reviews
          li.footer-link
            a.footer-link--text Testimonials
          li.footer-link
            a.footer-link--text Upcoming Events
          li.footer-link
            a.footer-link--text Lifestyle
      .footer-column
        h3.footer-column--title Customer Service
        ul.footer-links
          li.footer-link
            a.footer-link--text Contact Us
          li.footer-link
            a.footer-link--text Shop
          li.footer-link
            a.footer-link--text Returns & Exchanges
          li.footer-link
            a.footer-link--text Shipping
          li.footer-link
            a.footer-link--text FAQ
      .footer-column.signup-column
        h3.footer-column--title Sign Up
        p.footer-text Enell, Inc. is dedicated to aid in an active lifestyle by offering state.
        button.footer-btn Email
  .content
    .content-container.mobile-shortcuts
      a(href="#").mobile-shortcut Contact
      a(href="#").mobile-shortcut Shop
      a(href="#").mobile-shortcut Fitting
      a(href="#").mobile-shortcut Lifestyle
      a(href="#").mobile-shortcut News & Reviews
    .content-container
      img.footer-logo(src="../images/logo-grey.svg")
  .content.purple
    .content-container
      p.legal-stuff
        a(href="#").legal-link Privacy Policy
        span • Copyright c2015 Enell Inc • All Rights Reserved
      
