header.site-header
  .content-container.mini-strip
    a.mini-link
      i.icon-facebook
    a.mini-link tw
      i.icon-facebook
    a.mini-link gm
      i.icon-facebook
    a.mini-link pn
      i.icon-facebook
    a.mini-link yt
      i.icon-facebook

    a.mini-link
      i.icon-basket c (0)
      
  nav.content-container.header-nav
    img(src="../../images/logo.svg").header-logo
    ul.header-links
      li.header-link
        a(href="/shop").header-link--text Shop
        ul.header-link--submenu
          li.submenu-link
            a.submenu-link--text Enell Sport
          li.submenu-link
            a.submenu-link--text Enell Lite
          li.submenu-link
            a.submenu-link--text Accessories
          li.submenu-link
            a.submenu-link--text Retail
      li.header-link
        a(href="/fitting").header-link--text Fitting
      li.header-link
        a(href="/community").header-link--text Community
      li.header-link
        a(href="/lifestyle").header-link--text Lifestyle
      li.header-link
        a(href="/about").header-link--text About
