header.site-header.mini-strip
  .content-container
    a.mini-link
      i.icon-instagram
    a.mini-link
      i.icon-facebook
    li.mini-link
      i.icon-twitter-bird
    a.mini-link
      i.icon-pinterest
    a.mini-link
      i.icon-youtube-1

    a.mini-link
      i.icon-basket (0)
      
.content
  nav.content-container.header-nav
    a(href="/")
      img(src="../images/logo-purple.svg").header-logo
      img(src="../images/logo-grey.svg").header-logo.mobile
    ul.header-links
      li.header-link.mobile
        a(href="/shop").header-link--text Shop
        ul.header-link--submenu
          li.submenu-link
            a.submenu-link--text Enell Sport
          li.submenu-link
            a.submenu-link--text Enell Lite
          li.submenu-link
            a.submenu-link--text Accessories
          li.submenu-link
            a.submenu-link--text Retail
      li.header-link
        a(href="/fitting").header-link--text Fitting
      li.header-link.mobile
        a(href="/community").header-link--text Community
      li.header-link
        a(href="/lifestyle").header-link--text Lifestyle
      li.header-link
        a(href="/about").header-link--text About
      li.header-link.mobile-only
        button.sidebar-toggle
          i.menu-icon
            .menu-icon__text
