doctype html
html
  head
    include ../chunks/_head.jade
  body
    .mobile-menu
      button.sidebar-toggle
        i.menu-icon.X-mode
          .menu-icon__text
      ul.mobile-links
        li.mobile-link.mobile
          a(href="/shop").mobile-link--text Shop
          ul.mobile-link--submenu
            li.submenu-link
              a.submenu-link--text Enell Sport
            li.submenu-link
              a.submenu-link--text Enell Lite
            li.submenu-link
              a.submenu-link--text Accessories
            li.submenu-link
              a.submenu-link--text Retail
        li.mobile-link
          a(href="/fitting").mobile-link--text Fitting
        li.mobile-link.mobile
          a(href="/community").mobile-link--text Community
        li.mobile-link
          a(href="/lifestyle").mobile-link--text Lifestyle
        li.mobile-link
          a(href="/about").mobile-link--text About
    .slideaway_wrapper
      header
        include ../chunks/_header.jade
      main
        section.content.light_grey
          .content-container
            .standard-hero
              img.image(src="https://unsplash.it/960/400?image=564")
        section.content
          article.content-container
            h1 Lifestyle
            article.recent-post.featured
              h3.title Recent Blog Post Title
              h4.subtitle 
                date 01.20.1974
                span Author Name
                span Topic
              p.text Suspendisse quis lacus nulla. Nullam et nibh ligula. Nunc vitae nulla et arcu mollis iaculis. Vestibulum venenatis risus ut ligula lacinia malesuada.
              .continue-link: a(href="#") Read More

            article.recent-post
              h2.topic Fitness
              img.thumbnail(src="https://unsplash.it/230/160?image=187")
              h3.title Recent Blog Post Title
              h4.subtitle 
                date 01.20.1974
                span Author Name
                span Topic
              p.text Suspendisse quis lacus nulla. Nullam et nibh ligula. Nunc vitae nulla et arcu mollis iaculis. Vestibulum venenatis risus ut ligula lacinia malesuada.
              .continue-link: a(href="#") Read More

            article.recent-post
              h2.topic Wellness
              img.thumbnail(src="https://unsplash.it/230/160?image=186")
              h3.title Recent Blog Post Title
              h4.subtitle 
                date 01.20.1974
                span Author Name
                span Topic
              p.text Suspendisse quis lacus nulla. Nullam et nibh ligula. Nunc vitae nulla et arcu mollis iaculis. Vestibulum venenatis risus ut ligula lacinia malesuada.
              .continue-link: a(href="#") Read More
            
            article.recent-post
              h2.topic Food
              img.thumbnail(src="https://unsplash.it/230/160?image=321")
              h3.title Recent Blog Post Title
              h4.subtitle 
                date 01.20.1974
                span Author Name
                span Topic
              p.text Suspendisse quis lacus nulla. Nullam et nibh ligula. Nunc vitae nulla et arcu mollis iaculis. Vestibulum venenatis risus ut ligula lacinia malesuada.
              .continue-link: a(href="#") Read More
        section.content.light_purple.vertically-padded
          .content-container
            a(href="#").block-image-link
              .block-image
                img.image(src="https://unsplash.it/310/200")
              .block-text-content
                h3.block-title Shop Lite
            a(href="#").block-image-link
              .block-image
                img.image(src="https://unsplash.it/310/200?image=532")
              .block-text-content
                h3.block-title Community
            a(href="#").block-image-link
              .block-image
                img.image(src="https://unsplash.it/310/200?image=531")
              .block-text-content
                h3.block-title Shop Sport

      footer
        include ../chunks/_footer.jade
