doctype html
html
  head
    include ../chunks/_head.jade
  body
    .mobile-menu
      button.sidebar-toggle
        i.menu-icon.X-mode
          .menu-icon__text
      ul.mobile-links
        li.mobile-link.mobile
          a(href="/shop").mobile-link--text Shop
          ul.mobile-link--submenu
            li.submenu-link
              a.submenu-link--text Enell Sport
            li.submenu-link
              a.submenu-link--text Enell Lite
            li.submenu-link
              a.submenu-link--text Accessories
            li.submenu-link
              a.submenu-link--text Retail
        li.mobile-link
          a(href="/fitting").mobile-link--text Fitting
        li.mobile-link.mobile
          a(href="/community").mobile-link--text Community
        li.mobile-link
          a(href="/lifestyle").mobile-link--text Lifestyle
        li.mobile-link
          a(href="/about").mobile-link--text About
    .slideaway_wrapper
      header
        include ../chunks/_header.jade
      main
        section.content.light_grey.vertically-padded
          .content-container.store-header
            .main-image.store-hero
              .image-content
                img.image(src="https://unsplash.it/960/540")
              .text-content
                h2.title Performance Apparel for Well Endowed Women
            .secondary-images
              .store-card
                .image-content
                  img.image(src="https://unsplash.it/220/220?image=42")
                .text-content
                  button.btn-default Sport
              .store-card
                .image-content
                  img.image(src="https://unsplash.it/220/220?image=43")
                .text-content
                  button.btn-default Lite
        section.content.vertically-padded
          .content-container
            .store-item-row
              .store-item.wide
                blockquote.block-quote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed sapien quam. 
              .store-item
                .store-card
                  .image-content
                    img.image(src="https://unsplash.it/220/220?image=42")
                  .text-content
                    button.btn-default Sport
        section.content
          .content-container.to_the_edge
            a(href="#").block-image-link.pair
              .block-image
                img.image(src="https://unsplash.it/310/200?image=532")
              .block-text-content
                h3.block-title Community
            a(href="#").block-image-link.pair
              .block-image
                img.image(src="https://unsplash.it/310/200?image=531")
              .block-text-content
                h3.block-title Shop Sport
      footer
        include ../chunks/_footer.jade
